@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


.app-dropdown {
    @apply flex flex-col bg-gray-200 rounded-md shadow-2xl p-2;
    position: absolute;
    z-index: 100;
    border: 1px solid;
}